[submodule "~Plugin/path/to/submodule"]
	path = ~Plugin/path/to/submodule
	url = https://github.com/O-S-K/UIFeel.git
[submodule "~Plugin/UIFeel"]
	path = ~Plugin/UIFeel
	url = https://github.com/O-S-K/UIFeel.git
